/* Specify font used on Webpage */

@font-face {
 font-family: "terminator";
 src: url("../fonts/terminator_real_nfi/terminator_real_nfi.ttf") format("truetype");
}

/* Styling of standard HTML Elements */

body {
  background-color: black;
  color: white;
  font-family: 'terminator';
}

h1, h3 {
  color: #F3F781;
  text-align: center;
}

table {
  text-align:center;
  align:top;
  margin-left:auto;
  margin-right:auto;
}

td, tr {
  border:solid white 5px;
  border-radius: 5px;
  padding: 10px;
}

/* Styling of common classes */

.tableWithoutBorder {
  vertical-align: top;
  text-align: center;
  border: none;
  padding: 0px;
}

.off {
  width: 60px;
  height: 60px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 30px;
  padding: 0px;
}

.on {
  width: 60px;
  height: 60px;
  background-color: green;
  border: none;
  border-radius: 30px;
  padding: 0px;
}

.buttonOn {
  width: 60px;
  height: 60px;
  background-color: red;
  border: none;
  border-radius: 30px;
}

/* Styling of one-off elements */

#videoFeed {
  height: 500px;
  width: 680px;
  border: none;
}

#errorReport {
  color: red;
}

#textSpanHolder {
  height: 400px;
  width: 525px;
  overflow: auto;
  font-size: small;
}
